[submodule "nix-config"]
	path = nix-config
	url = git@github.com:h0ffmann/nix-config.git
	branch = main
	shallow = true
[submodule "WW3"]
	path = WW3
	url = git@github.com:h0ffmann/WW3.git
	branch = develop
[submodule "bend-lang"]
	path = bend-lang
	url = git@github.com:h0ffmann/bend.git
	branch = main
	shallow = true
